.img {
  object-fit: cover;
  display: block;
  width: 400px;
  height: 250px;
  border-radius: 4px;
}

.infoList {
  width: 100%;
  position: absolute;
  padding: 4px 0;
  top: 30px;
  right: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(248, 255, 140, 1) 0%,
    rgba(235, 136, 34, 1) 69%
  );
  transform: rotate(-40deg);
}
